<div class="container"
     fxLayout="row"
     fxLayoutAlign="center">
  <form [formGroup]="credentials" (ngSubmit)="login()"
       fxLayout="column"
       fxLayoutAlign="center"
       fxFlex.gt-xs="1 1 480px"
       fxFlex.xs="1 1 80%"
       fxLayoutGap="2em">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" name="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password" name="password">
    </mat-form-field>
    <button mat-raised-button color="primary">Envoyer</button>
  </form>
</div>
